<!-- Slider Area
        ================================================== -->
<section id="home">
    <div class="header-section">
        <!-- Background Slider Begins -->
        <div id="slide" class="home-slider relative">

            <!-- Slides -->
            <div class="slides-container">
                <!-- Slider Images -->
                <% data.slides.forEach((slide)=>{ %>
                    <div class="<%='slide-item' + slide.image_id + ' parallax' + slide.image_id + 'bg' %>"></div>
                    <% }); %>
            </div>

            <!-- Slide Text Begins -->
            <div class="text-slider-section absolute container">
                <div class="text-slider">
                    <ul class="slide-text slides">
                        <% data.slides.forEach((slide)=>{ %>
                            <li class="capitalize <%=slide.white? '':'black-text'%>"><%=slide.header_s%>
                                <i class="fa fa-1x fa-<%=slide.symbol%>"></i> <%=slide.header_e%>
                                <h5><%=slide.text%></h5>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </div>
            <!-- Slide Text Ends -->
        </div>
    </div>
    <!-- Slider Ends -->
</section>